$text-color: #2c3e50;
$border-color: #7a7d7d;
$text-highlight: #d0cfcf;

$background-color: #ffffff;
$background-highlight: #fffbfe;

$footer-padding: 1rem 1rem 1rem;

// Bulma overrides
$primary: #55828b;

$modal-card-spacing: 30px;
$modal-card-head-padding: 10px;
$modal-card-body-padding: 10px;
$modal-card-head-radius: 2px;
$modal-card-foot-radius: 2px;
$modal-card-title-size: 1.1rem;