$text-color: #2c3e50;
$border-color: #7a7d7d;
$text-highlight: #d0cfcf;
$text-light: #ffffff;

$background-color: #ffffff;
$background-highlight: #fffbfe;

$footer-padding: 1rem 1rem 1rem;

// Bulma overrides
$primary: #315c64;
$red: #dd274c;
$yellow:  #ffdd57;
$green:  #00832e;
$cyan: #0f76bb;

$modal-card-spacing: 30px;
$modal-card-head-padding: 10px;
$modal-card-body-padding: 10px;
$modal-card-head-radius: 2px;
$modal-card-foot-radius: 2px;
$modal-card-title-size: 1.1rem;